<!DOCTYPE html>
<html lang="en">

<head>
  <title>ICBC Basic M/C Insurance Calculator</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <link rel="stylesheet" href="css/pure-min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800">
  <link rel="stylesheet" href="css/icbs.css">
</head>

<body>
  <section id='vue'>
    <div class="logo"><span class="text">ICB$</span></div>

    <h1>ICBC Basic Motorcycle Insurance Calculator</h1>

    <p>
      BC, Manitoba, Saskatchewan, and Quebec all have crown corporations to provide compulsory automotive and motorcycle insurance. Of these 4 crown corporations ICBC charges the highest rates, only ICBC is for-profit, and only ICBC does not provide online rate quoting.
    </p>

    <form class='pure-form pure-form-stacked'>
      <fieldset>
        <div class='select-row'>
          <label for='rate-class-select'><b>Displacement</b></label>
          <select id='rate-class-select' v-model='model.rateClass'>
            <option v-for="(value, key) in rateClasses" :value='key'>
              {{ value }}
            </option>
          </select>
        </div>

        <div class='select-row'>
          <label for="territory-select"><b>Location</b></label>
          <select id="territory-select" v-model="model.territory">
            <option v-for="(value, key) in territories" :value='key'>
              {{ value }}
            </option>
          </select>
        </div>

        <div class='select-row'>
          <label for="claim-rate-select"><b>Claim-Rated Scale Discount</b></label>
          <select id="claim-rate-select" v-model="model.claimRate">
            <option v-for="(value, key) in claimRates" :value='key'>
              {{ value }}
            </option>
          </select>
        </div>

        </br>
        <b>Other Discounts</b>

        <div class="checkbox-row">
          <label for="sixty-five">
            <input type="checkbox" id="sixty-five" name="sixty-five" v-model="model.sexaquinquagenarian"> 65 years or older
          </label>
        </div>

        <div class="checkbox-row">
          <label for="collector">
            <input type="checkbox" id="collector" name="collector" v-model="model.collector"> Collector Plate
          </label>
        </div>
      </fieldset>
    </form>

    <h2>Summary</h2>
    <div class="table-row">
      <a href="rate_classes.html">Rate Class:</a><span class="display">{{ computedRateClass }}</span>
    </div>
    <div class="table-row"><span>Territory:</span><span class="display">{{ model.territory }}</span></div>
    <div class="table-row"><span>Third Party Liability Coverage:</span><span class="display">{{ model.liability }}</span></div>
    <div class="table-row"><span>Claim Rate:</span><span class="display">{{ computedClaimRate }}</span></div>
    <div class="table-row"><span>Your Cost:</span><span class="display">${{ computedCost }}</span></div>
    <div class="table-row"><span>Annual Licence Fee:</span><span class="display">${{ model.fee }}</span></div>
    <div class="table-row"><b>Total Payable:</b><b class="display">${{ computedPayable }}</b></div>

    </br>
    <p class="disclaimer">
      This site is not associated with ICBC. It is an open-source community project.
      You may report inaccuracies vie <a href="https://github.com/Lateworm/icbcmc/issues">GitHub</a> or <a href="https://www.reddit.com/r/motorcycles/comments/a7vho6/get_icbc_motorcycle_insurance_estimates_online/">Reddit</a>.
    </p>
  </section>
</body>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript" src="js/table_premiums.js"></script>
<script type="text/javascript" src="js/estimate.vue.js"></script>

</html>