body {
  --color-primary: #714302;
  --color-bg: #fcfaf3;
  --color-neutral: #dbd7cb;
  --color-accent: #469175;

  background-color: var(--color-bg);
  color: var(--color-primary);
  font-family: sans-serif;
  font-weight: 300;
  margin: 1rem;
}

.logo {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo .text {
  font-size: 3rem;
  letter-spacing: 4px;
  font-weight: 500;
  background-color: var(--color-primary);
  color: var(--color-bg);
  padding: .5rem 1rem;
  border-radius: .5rem;
}
.logo .poop {
  font-size: 9rem;
  line-height: 8rem;
}

.disclaimer {
  font-size: .75rem;
}

h1, h2 {
  font-weight: 300;
}

.form-row {
  height: 1.5rem;
}
.form-row label,
.label {
  padding-right: .5rem;
}
.form-row select,
.form-row input {
  width: 10rem;
  font-weight: 300;
  color: var(--color-primary);
}

ul {
  list-style-type: none;
  padding-left: 0px; /* removing default left padding */
}

#total-display {
  font-weight: 400;
}

a {
  color: var(--color-accent);
}


@media screen and (min-width: 411px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1, h2 {
    text-align: center;
  }

  .form-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .form-row label,
  .label {
    text-align: right;
  }
  .form-row select,
  .form-row input,
  .display {
    width: 15rem;
    height: 1.25rem;
    font-size: 1rem;
  }
}